@import "tailwindcss"; 
@plugin "daisyui";

/*tailwindflex.com ---------- ui components for free*/


.btn{
  @apply  inline-flex w-full justify-center rounded-md bg-red-500 px-3 py-2 text-sm font-semibold text-white hover:bg-red-400 sm:ml-3 sm:w-auto
}

.title{
  @apply bg-clip-text text-transparent bg-gradient-to-r from-indigo-500 to-teal-500 text-5xl font-black
}